<h1>Competitions</h1><br>
<% @competitions.each do |competition| %>
  <section id="comp_id-<%= competition.id %>">
    <%= link_to competition.name, competition_path(competition) %><br>
  </section>
<% end %>